<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hss.mapper.CouponClassMapper">

    <resultMap id="couponClassResult" type="com.hss.bean.CouponClass">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="number" property="number" />
        <result column="secret_key" property="secretKey" />
    </resultMap>

    <sql id="columns">
        cc.id,cc.name,cc.number,cc.secret_key
    </sql>

    <sql id="sql_where">
         <where>
             <if test="couponClass.secretKey != null and couponClass.secretKey != ''.trim()">
                 cc.secret_key = #{couponClass.secretKey}
             </if>
         </where>
    </sql>

    <!--共享锁-->
    <sql id="share_lock">
        LOCK IN SHARE MODE
    </sql>

    <!--排他锁-->
    <sql id="for_update">
        for update
    </sql>

    <select id="findCouponClass" parameterType="com.hss.bean.CouponClass" resultMap="couponClassResult">
        select <include refid="columns" />
        from coupon_class cc
        <include refid="sql_where" />
        <if test="tfLock == true">
            <if test="lockType == 'share_lock'">
                <include refid="share_lock"/>
            </if>
            <if test="lockType == 'for_update'">
                <include refid="for_update"/>
            </if>
        </if>
    </select>


    <select id="findCouponClassById" parameterType="java.lang.Long" resultMap="couponClassResult">
        select <include refid="columns" />
        from coupon_class cc
        where cc.id=#{id}
    </select>

    <update id="updateCouponClassNumber" parameterType="java.lang.Object">
        update coupon_class set number=#{number} where id=#{id}
    </update>
</mapper>